[2013-10-19 18:52] martijnhoogendoorn opened #1 "Having references to non-strong named assemblies breaks"
When executing this tools as a pre-build in Visual Studio, references for the project need to be updated to reference the strong named version as well. A Visual Studio plugin would be very nice.

[2013-10-21 19:21] #1 closed, assigned to brutaldev

[2013-10-22 16:34] brutaldev opened #2 "Modify internal assembly references to resolve new signed assemblies"
Example:
If you have a third party assembly that references another third party assembly, neither of which you have the source code for, called A.dll and B.dll. If both assemblies are unsigned, A will reference B with a null public key. When signing both assemblies, they will now have public key values when being referenced (kind of the point of having signed assemblies in the first place). Proble

[2013-11-03 12:11] #2 closed, assigned to brutaldev

[2014-01-19 14:06] bentayloruk opened #4 "Fix references when alternative output directory is provided."
If you select an alternative output directory for the signed assemblies, then references are not fixed up (as the method looks at the previous unsigned version in the source path and considers it a no-op).

_I was going to submit a PR, but don't have time right now, so logged this here._

[2014-01-19 17:37] #4 closed, assigned to brutaldev

[2014-07-14 13:39] cvetomir-todorov opened #5 "Assembly folder signing does not work as expected"
I am using latest 1.4.0.0 version from installer. I am trying to sign some _ServiceStack_ assemblies. More specifically the package _ServiceStack 3.9.71.0_. It contains 2 unsigned assemblies:
- _ServiceStack.dll_
- _ServiceStack.ServiceInterface.dll_ which has a reference to _ServiceStack.dll_

When I use _-InputDirectory_ via the following command in my _Build.proj_ file (please ignore the quotes

[2014-07-14 17:12] #5 closed, assigned to brutaldev

[2014-08-22 19:24] fcoulombegoogle opened #6 "The program does not handle InternalsVisibleTo attribute"
assemblies can define
[assembly: InternalsVisibleTo("Some.Assembly")]

and for this to work, it need to patch the attribute to:
[assembly: InternalsVisibleTo("Some.Assembly", PublicKey=<the public key>)]

[2014-08-23 14:51] #6 closed, assigned to brutaldev

[2014-12-07 20:51] markcallen opened #7 "Unable to compile on Linux using Mono"
Getting the following error message when compiling on linux with mono

cd src
xbuild

StrongNameSigner/src/Brutal.Dev.StrongNameSigner/Brutal.Dev.StrongNameSigner.csproj (default targets) ->
/usr/lib/mono/4.5/Microsoft.Common.targets (PostBuildEvent target) ->

[code]

[2014-12-08 05:25] #7 closed, assigned to brutaldev

[2014-12-17 07:36] Bringer128 opened #8 "Fixing up references sometimes invalidates the assembly"
Hey there,

I have a scenario where I have 3 assemblies that need to be referenced by a strong-name signed project. One is a 3rd party library and 2 are created by me, but I don't want to make them strong-name signed.

* ThirdPartyLib.dll
* MyLib.dll (depends upon ThirdPartyLib.dll)
* MyLib2.dll (depends upon ThirdPartyLib and MyLib)
* MyProject.csproj (depends upon ThirdPartyLib.dll, MyLib and My

[2015-01-06 20:26] danda1man opened #9 "Assembly is invalid after signing"
I have a problem using your tool with 2 assemblies where one references the other one.  When I sign the 2 assemblies separately, they pass validation.  At runtime though, the reference is broken.  If I put both of the assemblies in at once, it says the references got fixed, but then fails validation which causes a runtime compile exception, is there a trick to getting the references fixed without

[2015-01-06 20:57] brutaldev commented on #9
In your first scenario the reference will certainly be broken, if you sign assemblies separately then the reference is not corrected (since there is no knowledge of the referencing assembly).

Your second scenario is the correct way to re-sign so that all assemblies can be checked and new references created for each one.

Could you provide more detail on the runtime compile exception, a stack trac

[2015-01-06 21:10] danda1man commented on #9
The assemblies are private so I can't share them.  I looked closer at the output and I guess the dependency is actually Assembly A and Assembly B both depend on Assembly C.  Assembly C passes verification, Assembly A and B do not:
C:\SNK>sn -v AssemblyA.dll

Microsoft (R) .NET Framework Strong Name Utility  Version 4.0.30319.17929
Copyright (c) Microsoft Corporation.  All rights reserved.

Failed

[2015-01-06 21:29] brutaldev commented on #9
Might be the same issue that @Bringer128 is having in Issue #8.

It's late here so I'll take a look in the morning to see if there might be a problem with reference correction invalidating the strong-name key again.

[2015-01-06 21:32] danda1man commented on #9
Thanks for looking.  I was looking around for other options and came across this nuget package that has a set of powershell scripts that successfully sign the dlls: https://www.nuget.org/packages/Nivot.StrongNaming/

[2015-01-07 00:07] Bringer128 commented on #9
I created a pull request that I think fixes this issue (it fixes it on my assemblies).

[2015-01-07 06:23] brutaldev commented on #9
Fixed by @Bringer128 in pull request #10.

Download the latest release (including isntaller) here: https://github.com/brutaldev/StrongNameSigner/releases/tag/1.4.3

[2015-01-07 06:23] #9 closed

[2015-01-07 06:25] brutaldev commented on #8
Thanks, I reviewed, merged your fixes and released a new version.
https://github.com/brutaldev/StrongNameSigner/releases/tag/1.4.3

Don't worry about the test case, I can't get this to happen either but the code change makes sense.

[2015-01-07 06:25] #8 closed

[2015-01-07 16:06] danda1man commented on #9
Yup, that fixes it , thanks!

[2015-02-27 01:54] Bringer128 opened #11 "Feature request: Update .pdbs to match signed assemblies"
Currently signing assemblies will invalidate any debug symbols that were generated with them, making it impossible to debug using Visual Studio.

I've been able to get away with doing IL debugging using DILE so far, but it would be great to be able to debug against the actual source.

I'm interested in looking into this feature but I can't commit to a timeframe yet so I'm putting this issue here i

[2015-02-27 01:58] Bringer128 commented on #11
It looks like Cecil might have the features needed:
https://johnhmarks.wordpress.com/2011/01/19/getting-mono-cecil-to-rewrite-pdb-files-to-enable-debugging/
https://github.com/jbevain/cecil/tree/master/symbols/pdb
https://github.com/jbevain/cecil/wiki/Debug-symbols

[2015-02-27 05:32] brutaldev commented on #11
If you already have the source and are building the project, why not sign the assemblies using Visual Studio during the build step?

I suppose if PDB files were released with a build of unsigned third party assemblies you may want to update the PDBs as well. In this scenario though it's unlikely you will be able to debug against the source code.

[2015-04-30 18:27] mklaber opened #12 "Download Link is Infinitely Redirecting"
If ya' click *Download Installer* in `README.md`, you get an infinite redirect error.

Example: [click here](http://www.brutaldev.com/file.axd?file=StrongNameSigner_Setup.exe) (if this link works, it's probably fixed)

Tried with Safari and Chrome.

[2015-04-30 18:46] brutaldev commented on #12
All fixed up, that was a very old link and the URL re-write config for it is going to the completely wrong place. Fixed the re-write so your link works and changed the readme to the point to the new official link: http://brutaldev.com/download/StrongNameSigner_Setup.exe

[2015-04-30 18:46] #12 closed

[2015-04-30 18:52] mklaber opened #13 "Feature Request: Non-Installer release"
I'd like to drop `StrongNameSigner.Console.exe` in a solution's *Shared* folder (where I keep powershell build and deployment scripts and whatnot) so that I don't have to install Strong Name Signer on every machine this will run on. I got it working by installing just the Console app and then copying the necessary DLLs from the install directory in to my *Shared* folder. It'd be great if there wer

[2015-04-30 18:59] brutaldev commented on #13
Sure, a portable version won't be a problem. Furthermore, I should probably publish to NuGet as well as a tool so it's not a hard external dependency for build servers.

I'll take a look a this over the weekend. As for the time machine, not much I can do there but if someone else invents it one day I'll ask if I can borrow it quickly ;)

[2015-04-30 19:00] mklaber commented on #13
:+1:

[2015-04-30 21:15] brutaldev commented on #13
Uploaded to NuGet. You can install it as a dependency using `Install-Package Brutal.Dev.StrongNameSigner` or adding it to your `packages.config` like this:
[code]

Then access the portable files from `packages\Brutal.Dev.StrongNameSigner.1.4.4\tools\StrongNameSigner.Console.exe`.

You can also [download the package](<package id="Brutal.Dev.StrongNameSigner" version="1.4.4" />) directly and find th

[2015-04-30 21:15] #13 closed

[2015-05-19 17:25] GeertvanHorrik opened #14 "Update InternalsVisibleTo to prevent exceptions at runtime"
Some resigned assemblies use InternalsVisibleTo. This causes runtime exceptions as you can read here:

https://catelproject.atlassian.net/browse/CTL-653?focusedCommentId=19053&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-19053

Details:

[code]

[2015-05-19 17:38] brutaldev commented on #14
`InternalsVisibleTo` attributes are re-written with the new signed assembly public keys as of version [1.4.2](https://github.com/brutaldev/StrongNameSigner/releases/tag/1.4.2). Invalid `InternalsVisibleTo` attributes are also removed as of version [1.4.4](https://github.com/brutaldev/StrongNameSigner/releases/tag/1.4.4) which is the problem described in the exception above. The current version is

[2015-05-19 17:38] #14 closed

[2015-05-19 17:49] brutaldev commented on #14
Please note that the invalid references will only be removed from assemblies that are signed by StrongNameSigner.

In the attached zip file from the link you sent, Catel.Core.dll and Catel.MVVM.dll are already signed (with invalid `InternalsVisibleTo` still in place). If you try to process these through the tool again, nothing will happen because they already have strong-name signatures and will n

[2015-05-20 07:20] GeertvanHorrik commented on #14
Thanks for all the info, will let them know.

[2015-05-27 21:04] mklaber opened #15 "Add a verbosity switch"
Now that I've actually added this to my build process I'm faced with the incredibly verbose output it produces. While a "silent" mode would be nice, I probably wouldn't want it that quiet. It'd be great if it'd just print the assemblies that are fixed or signed. (e.g., don't print assemblies that have a `Nothing to fix...` result)

[2015-05-28 11:15] brutaldev commented on #15
`LogLevel` parameter provided in [v1.4.6](https://github.com/brutaldev/StrongNameSigner/releases/tag/v1.4.6).

In your case, you would want to use the `Changes` level to only output any changes made (includes signing, reference corrections and IVT removals). Simply add `-l Changes` to your command-line arguments.

Certain log messages have been changed to ensure you are always aware of the file na

[2015-05-28 11:15] #15 closed

[2015-05-28 14:08] mklaber commented on #15
Awesome, as always.

[2015-06-27 14:35] tom-englert opened #16 "Click once: Strong name validation failed..."
The project builds and runs locally, but for published click once applications the strong name validation fails for the post-signed assemblies after download and the app won't install.

[2015-06-27 21:03] brutaldev commented on #16
@tom-englert This is not nearly enough information to assist you. It's likely you are not signing the correct assemblies in a batch so references are not being fixed appropriately breaking the referential integrity. You may also be using an older version that does not automatically fix friend assembly references.

Please provide actual error messages, stack traces, a sample project, post-install c

[2015-07-01 15:42] tom-englert commented on #16
After realizing it did not work for ClickOnce Apps I had to quickly rollback. I will try to make a reproducible sample.

[2015-07-01 15:45] brutaldev commented on #16
This has been tested on ClickOnce application without an issue. You need to sign all files before creating the ClickOnce manifest since the manifest is also signed. My suggestion with all setups is to always sign your assemblies BEFORE anything, even compiling.

[2015-07-01 16:21] tom-englert commented on #16
I've uploaded compile output and the detailed error message: http://1drv.ms/1GNr3jW
Do you need anything else?

[2015-07-01 16:32] tom-englert commented on #16
- The source code is at https://resxresourcemanager.codeplex.com/SourceControl/latest
- The version with the signing issue is in the Feature\Test branch.
- The click once app is the ResXManager project.
- You can ignore the ResXManager.VSIX project (it's not loadable if you don't have the VS SDK installed)

[2015-07-01 16:47] tom-englert commented on #16
P.S. If you don't have Microsoft Code Contracts installed, you will get lots of Code Analysis warnings - just suppress them.

[2015-07-01 18:13] brutaldev commented on #16
When it comes to the two assemblies being signed, it doesn't seem to like each assembly having a unique public key. I'll take this as a bug since the strong-name file generated could be used for all assemblies and this problem would be completely avoided quite easily.

To overcome the issue now, simply provide a key file to sign the assemblies with. You already have one in the root (Key.snk) so ju

[2015-07-01 18:18] brutaldev commented on #16
You'll need to delete the WindowsAPICodePack directories or restore their `.unsigned` copies. The tool will not sign already signed assemblies.

[2015-07-01 18:44] brutaldev commented on #16
Fixed in [1.4.9](https://github.com/brutaldev/StrongNameSigner/releases/tag/v1.4.9). All assemblies will use the same generated key and not be invalidated.

Make sure you delete any packages that were previously signed and invalidated and let them be restored by NuGet. Alternatively restore the from the `.unsigned` backup file that is created before the assembly is signed.

Get the latest NuGet pa

[2015-07-01 18:44] #16 closed

[2015-07-02 14:42] tom-englert commented on #16
I could find no difference with 1.4.9, but specifying an own key fixed the problem.

[2015-07-02 15:25] brutaldev commented on #16
Prior to deploying, I dropped 1.4.9 into the packages folder in your project (into the 1.4.8 folder so I didn't even change the `.csproj`), deleted the previously incorrectly signed assemblies and published it, worked perfectly first time. :confused:

The fix is pretty important anyway since delayed friend reference fixing could break normal references if a new key is generated. If you are using a

[2015-07-03 11:15] tom-englert commented on #16
I did merely the same, I always completely deleted the affected packages before building.
The final working version is now in the Main branch, it uses 1.4.9 with -k.
If I remove the -k, the click-once does not work. With -k it runs fine. I just double-click the "ResXManager.application" to test it.
I'm using Win 8.1, maybe that's important to reproduce?

[2015-07-03 15:42] brutaldev commented on #16
Just to verify, I downloaded your project again and got it building perfectly with the new version.

The first thing I did was opened up `ResXManager.csproj` to remove the `-k` argument and noticed the path is still using 1.4.8.

When you upgraded the package, the new path created would be `packages\Brutal.Dev.StrongNameSigner.1.4.9`, but the old one does not get removed so you will still have `pa

[2015-07-04 14:40] tom-englert commented on #16
The latest version in Main branch has this change to 1.4.9 - maybe you still have looked at the Feature/Test branch?
What OS are you using?

[2015-07-04 22:39] brutaldev commented on #16
Downloaded your project again and used the Main branch. Remove the `-k` option, restored NuGet packages, built, published and truth be told, **it does not work**!! I did replace your `Key.snk` with another one that has no password but that's irrelevant.

I verified that the fix in 1.4.9 was being applied, it is so I'm happy about that, but for some reason I cannot get that branch to work without u

[2015-07-04 23:51] brutaldev commented on #16
Fixed in [1.5.0](https://github.com/brutaldev/StrongNameSigner/releases/tag/v1.5.0) and tested on your project. Seems like it's an issue with the `StrongNameKeyPair` internally, reusing it wasn't a good idea.

[2015-08-01 12:27] tom-englert commented on #16
Sorry to say, but while 1.4.9 worked fine with my own key, 1.5.0 did not even work with this, so I had to rollback to 1.4.9.
Maybe what you are testing is only working fine on your machine?

[2015-08-01 14:39] brutaldev commented on #16
@tom-englert The unit tests all pass and this was tested against your own ClickOnce project on my machine during development and another fresh virtual machine after release.

The changes to 1.5.0 wouldn't have affected the functionality in 1.4.9 if using your own key (review the commits it if you wish).

Not sure what else you want me to do? You need to send me a project that fails so I can identi

[2015-08-02 14:09] tom-englert commented on #16
Tried again with 1.5.0, and this time it worked. Sorry for the confusion, maybe there was a bad signed file dangling around from previous tests...
However I never got it to work without specifying my own key with the -k option, but I'm fine with this.

[2015-08-02 15:52] brutaldev commented on #16
[1.5.1](https://github.com/brutaldev/StrongNameSigner/releases/tag/v1.5.1) will fix this once and for all. Seems like a ordering issue that I could reproduce after a few tries. Fixing friend assembly references invalidates the signature, so the fix is to re-sign for every write (which was happening when you provide a key file but not when a key is generated). No need for you to upgrade though sinc

[2015-08-10 13:42] habakuk007 opened #17 "Issue with MvvmLight"
Hello,
thanks for your tool, it's very helpful for us!

We have a little issue with the libraries of MvvmLight - it touches the assemblies on every compilation and so it took a long time.

After the compilation it says this:

     0 file(s) were strong-name signed.
     82 references(s) were fixed.

You can get the log here: https://mega.nz/#!8JllkaTI!VOpstcjIQrILlXARho9_dY0i0I5CsOTbz2rRVh_Kl1o

A

[2015-08-10 17:10] brutaldev commented on #17
First thing you need to do is update to version [1.5.1](https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/1.5.1). You are currently using 1.5.0 which corrupts files sometimes when fixing references.

Second, it appears as though you are scanning and signing *EVERYTHING* in the `packages` directory, this is obviously going to take some time and can easily be avoided. Rather just selectivel

[2015-08-10 22:00] habakuk007 commented on #17
Thanks!

[2015-08-10 22:00] #17 closed

[2015-12-25 19:54] dretax opened #18 "Signed DLL that I can't reference anymore."
Hello @brutaldev

If I sign a dll, I can't reference It in my visual studio anymore. What's the problem?

https://db.tt/LEmyvmWO

[2015-12-26 05:05] brutaldev commented on #18
Hi @dretax

Other assemblies that reference `UnityEngine` need to have their references fixed. When you sign `UnityEngine`, any assemblies that reference it will still reference the unsigned version unless you include them in the process to have their references "fixed" to point to the newly signed version.

Refer to the docs on how to deal with dependencies here: https://github.com/brutaldev/Stro

[2015-12-26 05:05] #18 closed

[2015-12-26 10:20] dretax commented on #18
Cheers

[2016-04-13 20:02] jlegan opened #19 "Recursing?"
Below is the snippet from my build task. During a build it gets into an infinite loop of signing and fixing references. On the second pass nothing needs to be signed (verified with your GUI as well) and no references are fixed. Can you think of what might be causing this? This is VS2015 U1 though I doubt it is at play.

`  <Target Name="BeforeBuild">
  <Exec ContinueOnError="false"
        Command

[2016-04-13 20:12] brutaldev commented on #19
What is probably happening is that there is a circular reference in a pair of assemblies. Since you are trying to sign your *entire* `packages` directory, the issue could be anywhere.

Can I suggest rather including only the directories that contain unsigned assemblies and their dependencies that you actually need to sign. Your build process will be a **lot faster** if you don't need to trawl thro

[2016-04-13 20:18] jlegan commented on #19
The only concern there (and maybe room for enhancement) is the lack of support for wildcards in directory names for the -in parameter. Nuget imposes the versioned directory construct on us as developers however Nuget packages get updated all of the time. To make the | delimited directory structure more user friendly might I suggest allow for wildcards (ie. &quot;..\packages\elmah.corelibrary.**|..

[2016-04-13 20:26] brutaldev commented on #19
Updating `.csproj` files is actually a pain point for my own projects as well, although the versions of unsigned assembly don't seem to change often enough to have bugged me.

I like the idea of adding wild card capabilities to the input directory list, I would certainly use it. You're welcome to submit a pull request with your changes and I'll make an official release for it. The only place that

[2016-04-13 21:39] jlegan commented on #19
#20 is checked in. I don't have git setup on this box but I only had to touch two files and did a drag and drop check-in and pull request.

[2016-04-14 14:51] brutaldev commented on #19
Workaround provided in release [1.7.0](https://github.com/brutaldev/StrongNameSigner/releases/tag/v1.7.0)

[2016-04-14 14:51] #19 closed

[2016-04-22 07:33] cubed-it opened #21 "Failed to resolve assembly Windows.Foundation.UniversalApiContract"
Hi there,

I dont know what the issue is, maybe someone could help me with this little problem please. I guess it looks for C:\Program Files (x86)\Windows Kits\10\References\Windows.Foundation.UniversalApiContract\1.0.0.0\Windows.Foundation.UniversalApiContract.winmd
Why it cannot find it? Is there anything I can do?

Thank you!

`1>  Strong-name signing 'C:\Users\dbr.CONNEXT_NT\.nuget\packages\Wi

[2016-04-22 09:17] brutaldev commented on #21
You need to in include `C:\Program Files (x86)\Windows Kits\10\References\Windows.Foundation.UniversalApiContract\1.0.0.0` in your list of directories to process, otherwise it's not going to know where the dependencies are. This is explained under [Dealing With Dependencies](https://github.com/brutaldev/StrongNameSigner#dealing-with-dependencies).

Remember that signed assemblies cannot reference

[2016-04-22 09:17] #21 closed

[2016-04-22 09:43] cubed-it commented on #21
Okay, that does not sound like a good idea. But thanks for the detailed answer!

[2016-04-25 10:51] bradphelan commented on #11
To speed things up we don't let visual studio sign the files. What we have is an msbuild task that signs every assembly it finds in the build directory that does not currently have a strong name. This only occurs after the build is complete. This is faster than trying to sign everything found in the nuget packages directory before the build. We have found that some packages have large numbers of s

[2016-04-27 10:59] bradphelan commented on #11
Ok I think I fixed the debug symbols as part of my pull request https://github.com/brutaldev/StrongNameSigner/pull/22

[2016-05-05 19:13] brutaldev commented on #11
PDB symbol reading and writing added to release [1.8.0](https://github.com/brutaldev/StrongNameSigner/releases/tag/v1.8.0).

[2016-05-05 19:13] #11 closed

[2016-06-27 18:19] gravufo opened #23 "InternalsVisibleTo is not updated if friend assembly not present"
I am trying to sign the [Akka NuGet Package](https://www.nuget.org/packages/Akka) by using [Signature.Core](https://github.com/MyGet/webhooks-sign-package) which in turn uses your tool.

The problem is that when I try to use the signed NuGet package, it fails with the following error:
`Unhandled Exception: System.MethodAccessException: [D:\AkkaTest\Akka test\Akka test\bin\Debug\Akka.dll] Strong-na

[2016-06-27 18:26] brutaldev commented on #23
Please refer to the section on [dealing with dependencies](https://github.com/brutaldev/StrongNameSigner#dealing-with-dependencies).

Not going to make any assumptions on the public keys of friend assemblies, this will create create even more confusing behavior when the keys do not in fact match. You will need to include paths to all other reference assemblies so that everything can be correctly f

[2016-06-27 18:26] #23 closed

[2016-06-29 16:30] stevenxi opened #24 "Poor performance"
Hi,

I've tried to sign big batch of assemblies in one go (400+). It doesn't finish within 30 mins.

I've add an extra method in SigningHelper to solve this issue: it allows you solve references as join rather than 2 loop matching

    public static void FixAssemblyReferences(IEnumerable<string> assemblyPaths, IEnumerable<string> signedAssemblyPaths,  string keyPath, string keyFilePassword, Action

[2016-06-29 16:32] brutaldev commented on #24
Please create a pull request for this change.

[2016-06-29 16:33] stevenxi commented on #24
Have no git client here. And I'm not familiar with git.

On Wed, Jun 29, 2016 at 5:32 PM, Werner van Deventer <
notifications@github.com> wrote:

[2016-06-29 16:37] brutaldev commented on #24
I'm sorry, but I have no idea where you expect me to put this code. It doesn't replace an existing method and I have zero proof that it makes any difference to the performance. Disk I/O against 400+ files is more than likely the problem, you should probably just isolate the files you actually want to sign rather than pointing to a giant directory.

[2016-06-29 16:39] stevenxi commented on #24
I'm not expecting you to put this code to your code base, just let you know
there's a problem and provide the solution.
Feel free leave the code without change. It works fine, just slow in some
cases.

But just let you know my change speed up the same process (400+ files) to
15 seconds, as most of them are already signed. The performance bottle neck
is when updating referencing.

On Wed, Jun 29, 2

[2016-08-08 22:26] gsmeets opened #25 "Skipping an executable"
Is there a way to skip one particular executable from being signed?
I have phantomjs inside of a vsix project, but it keeps spitting out 150+ warnings over it every time I compile.

[2016-08-09 06:46] brutaldev commented on #25
Unfortunately there is no mechanism to exclude specific files or patterns from the signing process. As a workaround, I can suggest just being more strict about which files/directories you want to include instead.

[2016-08-09 11:39] gsmeets commented on #25
well, I need to bundle that executable in my vsix. So I don't have a choice really I think. How does it determine which files to convert? Can I perhaps add the executable to a solution folder and copy it in a later build step or something similar? Right now it's just included as a file in one of my projects.

[2016-08-09 17:16] brutaldev commented on #25
Bundling it in your VSIX installer doesn't mean it needs to get signed. The PhantomJS executable is not a .NET assembly so trying to sign it will fail.

By default all assembly types (exe and dll) will be included recursively in the signing process. However, you can specify in great detail which files you actually want to sign which is recommended for speed.

If you take a look at the [readme](htt

[2016-08-09 17:46] gsmeets commented on #25
Ah okay. Thanks. I just followed the how to and copied in a line in my post build command. Didn't realize that line actually had a file glob pattern in it. :)

[2016-08-10 07:43] #25 closed

[2016-09-01 21:22] brutaldev commented on #24
Will look into large numbers of files at some point, this doesn't affect many (if any) users. As for the double check, reliability trumps performance here so leaving it as is for now.

[2016-09-01 21:22] #24 closed

[2016-09-17 00:59] brutaldev commented on #24
Added definition caching which massively improves the performance when dealing with a lot of assemblies. These changes were released in [v2.0.0](https://github.com/brutaldev/StrongNameSigner/releases/tag/v2.0.0).

[2016-11-02 10:52] Matthew-Davey opened #26 "Error: Win32 IO returned ERROR_GEN_FAILURE"
Hi there! I'm seeing the following error when I try to execute the `StrongNameSigner.Console.exe` command line tool in a Linux environment.

[code]

Any ideas what could be causing this?

StrongNameSigner.Console v1.5.1
Ubuntu 14.04.5 LTS
Mono 4.6.1

[2016-11-02 10:58] brutaldev commented on #26
@Matthew-Davey You should first update to the latest version ([2.1.0](https://github.com/brutaldev/StrongNameSigner/releases/tag/v2.1.0)), the version you are using is pretty old from August 2015. Try running the command again with the latest version and see if it's been fixed.

[2016-11-02 11:37] Matthew-Davey commented on #26
Thanks for your quick response :)

I have upgraded the package to v2.1.0, unfortunately still seeing the same error:

[code]

[2016-11-02 12:03] brutaldev commented on #26
A quick Google and it looks like that error happens when using \ path separators which will fail in Linux which expects /.

Will take a look at the code a bit later and find where those are being used and replace them with `Path.DirectorySeparatorChar` so it's specific to the system being run on.

[2016-11-02 13:04] brutaldev commented on #26
@Matthew-Davey How long are the actual directory paths being reported in the error messages?

[2016-11-02 13:13] brutaldev commented on #26
@Matthew-Davey I don't think this is something that can be fixed. I know of another user who uses the application successfully in Linux so this could just be specific to your machine and I've double checked there are no hard-coded backslashes in any paths. If you lookup what the error code `ERROR_GEN_FAILURE` refers to in the [error code table](https://msdn.microsoft.com/en-us/library/cc231199.asp

[2016-11-02 13:58] Matthew-Davey commented on #26
OK thanks. The longest path to one of the assemblies in my output folder ins 170 characters.

I'll try and see if I can get the tool to sign the assemblies under perfect conditions - eg. in the home folder, short names etc

[2016-11-03 16:29] Matthew-Davey commented on #26
Hi again,

So as you might have seen from my logs I'm running this inside a vagrant provisioned vm. Vagrant creates a folder sync between the vm and the host machine where the project files live.

It looks like the failure only occurs when running inside the synced folder, and it occurs when writing the signed assembly back to disk.

If I move the project out of the synced folder (eg. `cp /vagrant

[2016-11-03 20:13] brutaldev commented on #26
Hey, yeah that's not something I want to attempt to fix, it will probably break with any .NET application trying to write to the directory because it's not doing anything out of the ordinary.

Based on your description the actual error code makes sense, if it's a synced directory then flushing to a "simulated" disk is probably freaking out. I would chalk this up to something wrong in Mono because

[2016-11-03 20:13] #26 closed

[2016-12-12 13:55] filippobottega opened #27 "Unable to sign squirrel.windows"
I'have tried to add [squirrel.windows](https://www.nuget.org/packages/squirrel.windows/0.4.94) nuget package after Brutal.Dev.StrongNameSigner to a WinForm application but Visual Studio 2015 uses 100% of CPU and resulting assemblies are not valid.

Best regards,
    Filippo.

[2016-12-12 13:56] brutaldev commented on #27
Which version are you using and what are your paths you are providing to sign?

[2016-12-12 14:21] filippobottega commented on #27
I have created a sample solution:

[WindowsApplication1.zip](https://github.com/brutaldev/StrongNameSigner/files/646181/WindowsApplication1.zip)

I'm not able to add Brutal.Dev.StrongNameSigner nuget package without getting errors.

Thank you for your support,
    Filippo.

[2016-12-12 19:46] brutaldev commented on #27
I can't seem to figure this one out, it's all running correctly but not redirecting the reference paths to the newly signed files. MSBuild seems to be having a bit of a problem here, not the signing process. Making adjustment to the targets file but nothing seems to resolve it. Works with smaller projects with less references although it's doing the exact same thing in both cases...

As a workarou

[2017-01-06 10:57] loicmorvan opened #28 "Friend assembly references are not updated with new keys."
As you may know, when declaring a friend assembly with the attribute `InternalsVisibleTo`, the public key of the friend assembly must be provided.

When signing assemblies with StrongNameSigner, the tool updates references very well, except these `InternalsVisibleTo` which then reference unsigned versions of the friend assemblies.

This leads to errors at loading.

Can you make the tool manage the

[2017-01-06 11:03] brutaldev commented on #28
`InternalsVisibleTo` are also corrected or removed (since v1.4.4) depending on whether the dependencies can be found. I suspect you are signing separately and not including all the assemblies you want to fix as a group.

 Make sure you are using the latest version and providing all the assemblies you want to fix at the same time instead of trying to sign each one individually. If assemblies are le

[2017-01-06 11:13] loicmorvan commented on #28
I sign an entire folder with the command line tool and the option '-in'. The version of StrongNameSigner installed is the latest.
I will triple check and try to reproduce what I said in order to give material.

[2017-01-06 12:08] brutaldev commented on #28
For reference, `InternalsVisibleTo` attributes are updated on line [309](https://github.com/brutaldev/StrongNameSigner/blob/260f41a8e6502c08e2f6989ed1bf39a0e08aa956/src/Brutal.Dev.StrongNameSigner/SigningHelper.cs#L309) of the signing helper.

I've just re-enabled the unit tests locally for the fix method to include the public key in the attribute and verified it also works by inspecting with Refl

[2017-01-19 09:19] epsitec opened #29 "NuGet package not installed in .NET Standard 1.3 library"
I am working in Visual Studio 2015 (Update 3) and I created a `*.csproj` as a _Class Library (PCL)_ which I then migrated to .NET Standard 1.3, by going to the properties of the project file, under _Library_ and change the _Targeting_ to `.NETStandard1.3`.

I then installed NuGet package `Brutal.Dev.StrongNameSigner.2.1.0`, expecting it to pop up in my _packages_ folder. But nothing happens. The s

[2017-01-19 09:41] brutaldev commented on #29
The package does not define any specific framework, it's a tool so it won't target any framework because it does not add references. Will have to investigate this one when I get some time.

[2017-01-19 09:46] epsitec commented on #29
@onovotny might be of some help here!

[2017-01-19 12:50] onovotny commented on #29
Project.json does not install packages into the solution package folder. Instead it uses a shared per user location.

[2017-01-19 13:15] epsitec commented on #29
Ah, so the issue is with the tooling. So I can expect to have this solved with the new and shiny `*.csproj` in Visual Studio 2017?

[2017-01-19 13:47] onovotny commented on #29
Depends on what you're trying to do. Nuget v3 in general uses a per user location instead of per solution location. It was a significant optimization. The only way to install a package to a specific directory is by using the nuget install command and specifying a directory.

[2017-01-19 13:51] epsitec commented on #29
Our build environment requires that the packages get installed in a _packages_ folder under the control of the solution (for instance because some of the unsigned assemblies in the packages need to be signed, and we don't want to do that in a global user location).

Switching to `*.csproj` without `project.json` on Visual Studio 2017 to compile _.NET Standard_ class libraries means that msbuild wi

[2017-01-19 14:05] onovotny commented on #29
In VS 2017, it uses `<PackageReference>` in the csproj and still uses a shared location. I believe there is a way to specify a specific packages location within a nuget.config file that you could have alongside your sln, but keep in mind that with netstandard, it has a large footprint. Also, package contents are re-validated on restore and if the contents don't match the targets, they're re-restor

[2017-01-19 14:13] epsitec commented on #29
Thank you, I'll give Visual Studio 2017 a try when it gets ripe for larger public consumption.
For now we are using a NuGet.config file which looks like this:

[code]

I am aware of the fact that modifying the `packages` contents is a slippery solution, but until now, the only really practical solution to consume unsigned NuGet assemblies is to let the `StrongNameSigner` tool do its magic and stro

[2017-01-19 14:23] onovotny commented on #29
@epsitec the nuget config file is your best option for now, but as mentioned, it's tough as restore will overwrite things.

Just curious what's driving the need for this to begin with? StrongNaming is not a security measure; Authenticode signing handles that.

[2017-01-19 14:45] epsitec commented on #29
Our DLLs and EXEs and signed with Authenticode and we use that to secure against tampering.

Strong names happen to be handy to classify assemblies based on where they come from. We use reflection a lot, and being able to identify an assembly as _ours_ very quickly is a good thing. And some part of our code relies on the strong name to decide whether a plug-in may be loaded or not.

Should we ditc

[2017-01-19 14:49] onovotny commented on #29
I would say that you'd be better off validating the authenticode signature if you're worried about tampering and origin. Anyone can do a "public sign" of an assembly using only the public key and if strong name validation is disabled (which it is by default unless it's in the GAC, in another appdomain, or shadow copied), then nothing is preventing someone from modifying and resigning the assembly.

[2017-01-19 15:01] epsitec commented on #29
I was not aware of the fact that anyone could do a _public sign_ without having to first disable strong name validation via the registry. Thank you very much. I now better understand why there was all this debate about signing (or not) assemblies over a year ago.

[2017-01-19 15:01] #29 closed

[2017-01-19 15:20] brutaldev commented on #29
The strong name signer is literally tampering with your assemblies an re-applying the strong name... The public key header section is well known and you can easily add it again. Authenticode has it's failures as well, such as introducing altered `wintrust.dll` files that always pass the digital signature check and doing basic P/Invoke interception (there is no managed way of checking a signature).

[2017-01-24 15:17] darilek opened #30 "Allow resign assemblies with different strong name"
Currently the program skips assemblies when they already has strong name. Please add option to allow resign assemblies with different key (and update references to the new public token)

[2017-01-24 15:51] brutaldev commented on #30
Although simple enough in principle, I don't see why you would want to alter assemblies that are already signed? If you inadvertently did something like this to a MS GAC assembly, you would break all .NET projects on the machine as everybody's references would no longer be valid...

[2017-01-24 22:43] darilek commented on #30
I don't want change signature of .NET core assemblies :-) But for example we have subscription to the big component pack (with source codes) and we build it and sign with own key. But some distributed assemblies does not source code included and we need the same signature for them.

[2017-01-25 05:26] brutaldev commented on #30
If you want your other distributed assemblies to use the same public key, then just sign them with the same key file you sign the component pack with. By default it will generate a new strong-name key pair to sign with if you don't provide one, you can use your own SNK or PFX file, the same one you use with your compiled code and they will all have the same strong name.

Are you using the UI, cons

[2017-01-25 07:53] darilek commented on #30
to be clear. Component pack is distributed with sources and **precompiled assemblies are signed with original key** (and there is no access for the key). For some assemblies the source code is not available (I don't know why). We are buliding new assemblies from source code signed with own key.

For now I can change key by decompilation with ILDASM, change public key token and update references ma

[2017-01-25 09:29] brutaldev commented on #30
I still don't really see a viable reason why you would want to remove the existing public key and re-sign already signed assemblies. If they are digitally/authenticode signed then you will break that signature as well by doing this. The risks outweigh any conceivable benefit you could derive from re-signing and it sounds as though you already have a solution to your problem.

[2017-01-25 09:29] #30 closed

[2017-02-16 01:12] JVimes opened #31 "Assembly reference not rewritten in XAML/BAML"
I think I found an assembly reference that's not being rewritten by StrongNameSigner, and I may know where it is.

Repro steps:

1. Create a new "WPF Custom Control Library" project (not to be confused with "WPF User Control Library").
1. Build it.
1. Close the solution.
1. Create a new "WPF Application" project.
1. Configure the project for strong name signing (project settings > signing > etc.)

[2017-02-16 17:52] denfromufa opened #32 "trying to sign dll "Operation is not valid due to the current state of the object""
I'm trying to sign Python.Runtime.DLL, but got this error:

![image](https://cloud.githubusercontent.com/assets/7870949/23033454/c2500910-f43d-11e6-973f-0ba957f08c49.png)

This used to work before and stopped working in version 1.8.0.

[2017-02-16 17:54] brutaldev commented on #32
The latest version is [2.1.0](https://github.com/brutaldev/StrongNameSigner/releases/tag/v2.1.0) which has some significant changes to the signing. If it still breaks with the latest version let me know, I'm not supporting version 1.x.

[2017-02-16 17:56] denfromufa commented on #32
@brutaldev yes, I checked with latest as well

[2017-02-16 17:57] denfromufa commented on #32
@brutaldev actually not, let me check

[2017-02-16 17:58] denfromufa commented on #32
2.1.0.0 still not working:

![image](https://cloud.githubusercontent.com/assets/7870949/23033864/4c1a1978-f43f-11e6-8fb9-91e1ec839d5e.png)

[2017-02-16 18:00] brutaldev commented on #32
Please post a link to where I can get `Python.Runtime.DLL` to test on my side.

[2017-02-16 18:06] denfromufa commented on #32
I just recompiled from master with Debug/AnyCPU and your tool is working!

![image](https://cloud.githubusercontent.com/assets/7870949/23034086/2f2bb1e0-f440-11e6-97ec-fb8eec590ae1.png)

[2017-02-16 18:07] denfromufa commented on #32
you can download Python.Runtime.DLL from here, just extract .whl as zip files:

https://pypi.python.org/pypi/pythonnet/2.2.2#downloads

[2017-02-16 18:09] brutaldev commented on #32
Hmm, could just be a messes up release then. I'll drop 2.1.1 just as a rebuild and see if that helps. I'll let you know when it's up and you can give it another test with the official version.

[2017-02-16 18:18] brutaldev commented on #32
Give this version a try please: [https://brutaldev.com/download/StrongNameSigner_Setup.exe?v=2.1.1](https://brutaldev.com/download/StrongNameSigner_Setup.exe?v=2.1.1)

[2017-02-16 19:23] denfromufa commented on #32
still the same error, so try downloading my DLL.

[2017-02-16 19:26] brutaldev commented on #32
So strange, I can the `Python.Runtime.DLL` using 2.1.0 and 2.1.1 without any error. Try build in release and see if it happens on your side.

[2017-02-16 19:32] denfromufa commented on #32
I can't build release version, it complains about sandcastle.

On Thu, Feb 16, 2017, 1:27 PM Werner van Deventer <notifications@github.com>
wrote:

[2017-02-16 19:35] brutaldev commented on #32
That will be a post build step anyway, you will still have a release build to run before that happens.

[2017-02-16 19:40] denfromufa commented on #32
Release build from Master branch works as well.

[2017-02-16 19:55] brutaldev commented on #32
¯\_(ツ)_/¯
Only seems to break on your machine. I've tried signing `Python.Runtime.DLL` on several machines now and cannot reproduce the error even on the current version of 2.1.0.

[2017-02-16 22:40] denfromufa commented on #32
@brutaldev I just tried on another machine and this works with the latest installer. so me too:

¯\(ツ)/¯

[2017-02-17 17:40] brutaldev commented on #32
I think we can chalk this up to a weird bug that only exists on your machine with compiled release versions... If anyone else gets the "_Operation is not valid due to the current state of the object_" error then just re-open this issue.

[2017-02-17 17:40] #32 closed

[2017-03-08 02:44] denfromufa commented on #32
@brutaldev I just reproduced this problem on Windows 10 (before it was Windows 7). I'm using 64-bit Python 3.5 wheel:

https://pypi.python.org/packages/c2/1b/616ba08a2856537f511e052020dc2317213af031d88c8db361f26cc89f6a/pythonnet-2.2.2-cp35-cp35m-win_amd64.whl

[2017-03-08 17:56] brutaldev commented on #32
@denfromufa Are you talking about `Python.Runtime.dll`? Just tried your download link on my machine and works without a hitch. Only seems to happen for you... If you can get it to happen consistently in the UI, click the "Show Output" link and see if there is a stack trace there which might be useful.

[2017-03-31 14:32] GieltjE opened #33 "Incompattible with PackageReference"
When installing via nuget with the new PackageReference it isn't properly installed (it appears to have an incorrect file structure).

[2017-03-31 18:55] brutaldev commented on #33
I actually have no idea what you're talking about...

[2017-03-31 19:43] arledesma commented on #33
@brutaldev I think that @GieltjE is asking for [VS2017 PackageReference support](http://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html).

[2017-03-31 20:18] brutaldev commented on #33
Right, of course. I'll see if I can get around to this over the weekend.

[2017-04-09 22:55] brutaldev commented on #33
Struggling to find time to look into this, if anyone wants to take a stab at figuring it out, I would welcome a pull request. In the meantime, just execute the console application as part of your build process which will work regardless of project format, NuGet version etc. Examples [in the build process section](https://github.com/brutaldev/StrongNameSigner#build-process).

[2017-04-28 14:02] GieltjE opened #34 "Caching problem"
When getting the AssemblyInfo for a file the result is somehow cached.

Reproduce, start with a signed assembly, run the code below, replace with unsigned assembly run code again (without closing the application):
                    AssemblyInfo assemblyInfo = SigningHelper.GetAssemblyInfo(file);
                    if (assemblyInfo.IsSigned) { MessageBox.Show("signed"); }
                    els

[2017-04-29 02:11] brutaldev commented on #34
The assembly details are indeed cached, but it should really be cleared if you run the process from the beginning again. Will make this update and release a new version over the weekend.

[2017-04-29 11:04] GieltjE commented on #34
The problem is that our process remains running for weeks at a time (custom build & release tool).

Good to hear there is a patch inbound 👍

[2017-04-30 12:14] brutaldev commented on #34
This should be fixed up in release [2.1.1](https://github.com/brutaldev/StrongNameSigner/releases/tag/v2.1.1).

The file is hash checked first to ensure the cached version is still pointing to the same file.

[2017-04-30 12:14] #34 closed

[2017-05-01 08:06] GieltjE opened #35 "2.1.1 SignAssembly Keeps files locked"
2.1.0 works great, but in 2.1.1 after calling SignAssembly(....) the file remains locked untill the application is closed.

E.g. we use a temporary directory to sign files, signing the same dll for multiple DotNet versions causes problems as we cannot delete them after signing.

[2017-05-01 08:30] brutaldev commented on #35
Fixed up in release [2.1.2](https://github.com/brutaldev/StrongNameSigner/releases/tag/v2.1.2). Updated to a new version of Mono.Cecil which seems to hold file locks so this release just reverts back to the trusty stable release.

[2017-05-01 08:30] #35 closed

[2017-05-11 10:06] tomap opened #36 "New Variable to locate StrongNameSigner"
Hi,

Could you add a new variable here to locate StrongNameSigner?
Here:
https://github.com/brutaldev/StrongNameSigner/blob/master/src/Brutal.Dev.StrongNameSigner/StrongNameSigner.targets#L20

You could declare
`<StrongNameSignerDirectory>$(MSBuildThisFileDirectory)</StrongNameSignerDirectory>`

So that from pre / post build step, we can use this variable to find Brutal.Dev.StrongNameSigner consol

[2017-05-11 13:03] brutaldev commented on #36
Hey @tomap
I wouldn't even know where to start or how to test that. My MSBuild skills are sketchy at best so if you could submit a PR with an example of how to make use of it I'll happily accept and release another build.

[2017-05-11 13:16] tomap commented on #36
Done, see https://github.com/brutaldev/StrongNameSigner/pull/37

[2017-05-11 13:26] brutaldev commented on #36
Awesome, thanks! Just did some reading and that's pretty useful, it is a pain updating the version each time for me as well so I'll make use this... Will merge and release in a couple of hours when I get back on my dev machine.

[2017-05-12 21:27] brutaldev commented on #36
Released the changes: https://github.com/brutaldev/StrongNameSigner/releases/tag/v2.1.3

[2017-05-12 21:27] #36 closed

[2017-05-15 07:51] GieltjE commented on #33
Simply renaming the "build" folder to "lib" seems to solve the problem (remove the "obj" and "bin" folders before the first build). That would leave out any targeted building but for now would do the trick.

[2017-05-15 20:36] brutaldev commented on #33
So in the NuGet package, should the `build` folder be `lib` instead? It used to be `tools` in v1.x and changed to `build`  in 2.x. I think it was a convention for build scripts since the target file was introduced in 2.0.

[2017-05-16 07:18] GieltjE commented on #33
I think so, looking at existing packages (haven't read the documentation) the directory structure is
$userdir\.nuget\$packagename\$version\lib\$target (e.g. C:\Users\Administrator\.nuget\packages\mailkit\1.16.1\lib\net451, C:\Users\Administrator\.nuget\packages\mailkit\1.16.1\lib\MonoAndroid10, C:\Users\Administrator\.nuget\packages\mailkit\1.16.1\lib\Xamarin.iOS10).
But with the files in just \li

[2017-05-16 22:38] brutaldev commented on #33
I'll have to take a look at this change carefully, there must be a reason I used `build`. I'll try check it out over the weekend when I have a bit more time to spend on this.

[2017-05-29 15:33] lpperras opened #38 "PCL libraries that also target Silverlight get their mscorlib reference updated."
We are using this NuGet package: Nito.AsyncEx.Tasks
This package references this Nuget package: Microsoft.Bcl.Async

The .NET 4.0 library is a PCL library that has its Retargetable=Yes attribute in the assembly. StrongNameSigner doesn't look at retargetable assemblies and will "Fix" the reference and sign the assembly back with its own strongname.

[2017-05-29 17:18] brutaldev commented on #38
I'm not I understand what the problem is here? What do you want/need SNS to do/not to do when an assembly has the Retargetable flag set?

[2017-05-29 17:46] lpperras commented on #38
See the attached project as a sample. When I rebuild it, it'll sign assemblies in folder "packages\Microsoft.Bcl.Async.1.0.168\lib\net40" even if they already have a strong name. The reaon is that those libraries are PCL libraries that target .NET + SL, so it refers to mscorlib 2.0.5 with another public key. The asembly is also marked as retargetable, which means that even if it targets this versi

[2017-05-29 18:01] brutaldev commented on #38
OK cool, thanks for the explanation. Can change it to ignore assemblies that have the flag set.

The reason assemblies are re-signed even if they already have a strong-name is because of friend assembly and reference fixing. It will figure out that something in the assembly needs to change or a dependent assembly got changed so it will re-apply public keys and re-sign. I'll check out what is going

[2017-05-29 18:47] rufio620 opened #39 "Build Process Integration via Nuget Pacakge does not work"
I installed the nuget package and attempted to build. My build immediately fails and all the assemblies in the project fail to resolve in my project.  I'm not sure if I am doing something wrong or if something is broken. Any help is much appreciated.

![image](https://cloud.githubusercontent.com/assets/1992395/26559426/87cff1f2-447d-11e7-8d39-707db1fb84ee.png)

[2017-05-29 18:49] brutaldev commented on #39
Duplicate of issue #27.

[2017-05-29 18:49] #39 closed

[2017-05-29 19:32] rufio620 commented on #27
@brutaldev I am not getting any error when I run this sample project in visual studio 2017. Add downloaded the WindowsApplication1 and then added the strong name signer nuget package to it. The project builds fine but none of the assemblies get signed. I turned on detailed build logging and it looks like one of the conditions is failing. I checked and the file exist on my file system but for some

[2017-05-29 19:38] brutaldev commented on #27
@rufio620 It's all related to weirdness in the MSBuild targets, even the error message you posted is similar to what I see and makes no sense. The errors don't help in debugging the problem which is why I haven't figured out why this happens.

Just use the [solution in the above comment](#issuecomment-266532324) to get around it for now, I'll need to spend some time figuring out why the auto-signi

[2017-05-29 20:32] lpperras commented on #38
If you are okay with simply checking that flag and if that flag is set on the assembly to skip it then I might have some time to do it and I'll do a pull request.

[2017-05-29 20:44] brutaldev commented on #38
Yeah, that's a reasonable solution in my mind. I'd like to do some manual testing and create a new project that compiles the flag into the assembly for unit tests and verify that it is correctly skipped and can still be loaded afterward.

[2017-05-29 20:51] rufio620 commented on #27
@brutaldev The performance of executing against the packages directory seems to be very poor. I've been executing for at least 10 minutes and there does not appear to be an end in sight. It seems like there is an issue with the assembly reference fix algorithm. It appears to be trying to fix references to assemblies that are not referenced in the current strong named assemblies metadata. For proje

[2017-05-29 21:16] brutaldev commented on #27
@rufio620 This was largely addressed in issue #24.

Remember that multiple passes are required, as each assembly is signed, it needs to re-evaluate all assemblies again to determine if they were referencing newly signed assemblies, then all assemblies need to be re-evaluated again to determine if they where referencing any of those and so it goes on.

If you have a large number of assemblies then

[2017-07-10 08:26] GieltjE opened #40 "Operation is not valid due to the current state of the object."
When creating an empty project with NodaTime v2.1.0 and StrongNameSigner it becomes imposible to launch the project:

Severity	Code	Description	Project	File	Line	Suppression State
Error		Operation is not valid due to the current state of the object.
   at Mono.Cecil.ModuleDefinition.ProcessDebugHeader()
   at Mono.Cecil.ModuleDefinition.ReadSymbols(ISymbolReader reader)
   at Mono.Cecil.ModuleRead

[2017-07-10 09:20] brutaldev commented on #40
Machine/environment specific error, duplicate of issue #32. You can try sign on another machine or even a VM and it will work.

This occurs inside Mono.Cecil so you could try report this on their repo: https://github.com/jbevain/cecil
According to a very old bug in Mono.Cecil on the same method call, this happens when the PDB is out of sync with the assembly, try clean and rebuilding your project:

[2017-07-10 09:20] #40 closed

[2017-07-10 09:22] GieltjE commented on #40
When I launch a separate project with just StrongNameSigner it can sign the dll, it just happens when trying to debug an project with both assemblies in them (immediately after the compile operation).

[2017-07-10 09:27] brutaldev commented on #40
Still a Mono.Cecil problem. This happens when simply trying to read assembly information, it's not even trying to sign things yet. Would have to prevent symbol reading on [line 460](https://github.com/brutaldev/StrongNameSigner/blob/6726b85bb69c7054719e84bf6b5963d3f3341c8d/src/Brutal.Dev.StrongNameSigner/SigningHelper.cs#L460) which is enabled if symbols are found with the same name as the assembl

[2017-07-10 14:34] GieltjE commented on #32
Can easily be fixed by releasing the AssemblyDefinition and just caching the AssemblyInfo results.

Took me about 3 minutes to figure out, let's just get this crap over with.

[2017-07-10 20:20] brutaldev commented on #32
@GieltjE I updated to the latest pre-release of Mono.Cecil which has `IDisposable` on `AssemblyDefinition`. Also ensured they are disposed of at appropriate times but the file locking problem with the pre-release version still remains as I mentioned in issue #40. You can verify with the [unit tests](https://ci.appveyor.com/project/brutaldev/strongnamesigner) that file locks still occur so I won't

[2017-07-10 20:35] GieltjE commented on #32
Works for me, just took the parts I needed, updated the assembly info to hold the hash (switched to .net sha1) to rectify the list<string,list< and properly disposed the objects both in the getassembly and signassembly.

Everthing runs fine, no more locking issues.

Using lists this way, not disposing objects, spelling mistakes, inconsistent naming scheme, closing of actual issues doesn't look lik

[2017-07-27 10:32] Astimus opened #41 "ASP core console signing problem"
Console signing doesn't work with asp .core applications.
There are diffrenet errors in console:
"Warning: Format of the executable (.exe) or library (.dll) is invalid"
"Error: Operation is not valid due to the current state of the object"

[2017-07-27 18:57] brutaldev commented on #41
The tool does not officially support signing .NET Core assemblies. PR is welcome if anyone wants to add this support.

[2017-08-01 15:37] pp111 commented on #31
Hello, I am having the same problem. Did you find a solution for this?

[2017-08-01 15:41] brutaldev commented on #31
Not yet, no time for this project at the moment.

[2017-08-03 17:31] chambm opened #42 "Writing mixed-mode assemblies is not supported"
Is it possible to overcome this if the mixed-mode assembly is unsigned? I'm trying to use the default "sign everything in the project" approach so I don't have to add a build step to specify a myriad of pure .NET DLLs to exclude a few.

[2017-08-03 19:39] brutaldev commented on #42
By default it's going to try and sign everything that is unsigned and will try to load all assemblies it finds even if that results in loading in mixed-mode or even unmanaged assemblies in the process.

As a feature you could add a negation option to the console application (! prefix) so you can provide directories to include as well as exclude to simplify your input parameters and directory selec

[2017-08-23 07:48] GieltjE commented on #32
https://github.com/nunit/nunit3-vs-adapter/issues/325

That is the bug that prohibits the correct functioning of the test cases, otherwise with the proper disposal of the mentioned objects the new versions are perfectly fine :)

[2017-08-23 08:30] brutaldev commented on #32
The following commit contains the changes you are referring to: https://github.com/brutaldev/StrongNameSigner/commit/9cb11ec8e77074f3e36207ebcd85095e109cdb7e

This commit properly disposes these objects and uses the beta6 version of Mono.Cecil. This may fix the PDB issue, but the new version of Mono.Cecil holds locks to files so any non-trivial signing process will fail. This is clearly highlighte

[2017-09-04 19:58] #28 closed

[2017-09-21 08:41] psandhu79 commented on #42
does the sn tool not support signing mixed mode assemblies ?

[2017-09-21 08:52] brutaldev commented on #42
@psandhu79 SN.exe can't sign any assemblies after they've been built unless they are marked for delay signing.

[2017-09-21 14:03] psandhu79 commented on #42
the mixed mode assmblies are delay signed.

[2017-09-21 14:07] brutaldev commented on #42
@psandhu79 Then sign them with sn.exe... What relevance does this have to the issue of not being able to strong-name sign third party mix-mode assemblies that are not delay signed? The .NET assemblies being referred to in this issue are not delay signed so using sn.exe is not useful.

[2017-09-21 17:31] psandhu79 commented on #42
@brutaldev Let me clarify I am building my own mix-mode assemblies and would like to sign the with your tool. Right now it gives a warning that this cannot be done.

I was wondering why the mix-mode assemblies which are delay signed cannot be signed using your tool ?

[2017-09-21 20:41] brutaldev commented on #42
@psandhu79 The answer should be quite obvious, because it's not supported. This is why this issue aptly titled "Writing mixed-mode assemblies is not supported", is labeled as an enhancement, and is still open.

Adding support for this would mean being able to sign mixed-mode assemblies regardless of whether they are marked for delay signing or not, the support for either does not currently exist i

[2017-12-01 22:18] C1rdec commented on #31
Any news on this issue?
Here is a simple repo: https://github.com/C1rdec/MaterialDesignStrongName

[2018-01-17 20:11] scottydel opened #43 "Access to the path '' is denied."
I installed the GUI version and run into this error every time.  I have a couple unsigned DLLs in a local folder I created on my machine.  I verified my AD account has rights to this folder, as well as the DLLs.  When ever I add the files, and click "Sign Assemblies" the output log says: "Error strong-name signing <my path>: Access to the path '<my path>' is denied."  Tried rebooting.  Tried movin

[2018-01-17 20:13] brutaldev commented on #43
Have you tried running with elevated privileges (right-click -> Run as Administrator)?

[2018-01-17 20:17] scottydel commented on #43
I have tried that yes.  It creates the *.unsigned file.  The first time I run the error message says no access to the original DLL.  The next time I run the error message says no access to the *unsigned file it previously created.

[2018-01-17 20:20] brutaldev commented on #43
Any other process locking the file up? When you get access denied errors it's not always permissions but quite often other processes using the files that prevents you from making changes to it while a file lock is in place. Use [LockHunter](https://lockhunter.com/) or something similar to try and determine what is using the file access.

What version are you using?

[2018-01-17 20:21] scottydel commented on #43
Ok thanks, I will try lockhunter and see if something is holding it up.  I"m using 2.1.3.0.

[2018-01-17 20:25] scottydel commented on #43
Lockhunter shows no process are locking any of the files (4 in total, two original DLLs and two *.unsigned files created by Strong-Name Signer).

[2018-01-17 20:26] brutaldev commented on #43
Not sure what to tell you. The lock might come and go during the process, like an anti-virus accessing the file to perform a scan just at the point it's trying to write to it again. Not much we can do about this since it's incredibly environment specific and no-one else has reported any issues with locking during the signing process.

[2018-01-17 20:28] scottydel commented on #43
That is a great point.  I'm using my work development machine, and our network can be very locked down (big company = big brother).  I will try this again on my home development machine.  Thank you for taking the time to respond.  I will report back what I find and hopefully figure it out.

[2018-01-18 13:34] scottydel commented on #43
I tried at home and surprisingly same results.  So something must be up with these particular DLLs I'm trying to sign?  I checked permissions (at home) and I have full access to the folder and files.  FWIW, I'm leaving the three text boxes above blank.  I'll keep playing around.  Again thank you for taking the time to help 👍

[2018-01-18 13:45] scottydel commented on #43
I played around at home, and selected a DLL from an old project and the tool worked perfectly.  So the two DLLs I am working with are the issue.  One of these DLLs is home grown in Visual Studio 2017, and the other is a third party DLL, Renci.SshNet.dll (which is referenced by the home grown DLL).  Any ideas if there is something I am doing in VS 2017 that could be preventing the tool from working

[2018-01-18 14:25] brutaldev commented on #43
The SSH.NET library is actually [open source](https://github.com/sshnet/SSH.NET) so you could compile it and apply a strong name key at that point. Which built version are you using, and does it sign on it's own if it's the only file you use? I'd like to get a copy of the same file you are using to debug with, if it's the .NET Core version then the strong-name signer won't be able to sign it: http

[2018-01-18 14:29] brutaldev commented on #43
Hmm, if I get the [latest version](https://github.com/sshnet/SSH.NET/releases/tag/2016.1.0) and drop it into the UI, it's already signed so the tool won't do anything to it.

[2018-01-18 14:35] scottydel commented on #43
SSH.NET 2013.4.7, I think it's older.  Our home grown app that I'm working on is older.  With just the Renci.SshNet.dll file in the UI, same result, access denied.  I will try and compile SSH.NET with our dll listed as a friendly and see if that fixes it.  I'm able to add Renci.SshNet.dll as a friendly to our app, but I think it needs to be the other way around.

[2018-01-18 14:39] scottydel commented on #43
[Renci.SshNet.dll.zip](https://github.com/brutaldev/StrongNameSigner/files/1643173/Renci.SshNet.dll.zip)

[2018-01-18 15:05] brutaldev commented on #43
Thanks, will look at this a bit later this evening and get back to you, just wrapping up my day first...

[2018-01-18 19:05] brutaldev commented on #43
Alright, figured out what the issue is. Your files have the **Read-only** attribute set so when trying to overwrite them you get the access denied error. This breaks on the unsigned backup files too because they are just copies of the original and carry the flag with them.

Right click on your file and uncheck the **Read-only** check box and all should be fine.

I'm making an update to reset the f

[2018-01-18 20:33] brutaldev commented on #43
Fixed in release [2.1.4](https://github.com/brutaldev/StrongNameSigner/releases/tag/v2.1.4)

[2018-01-18 20:33] #43 closed

[2018-01-19 01:15] scottydel commented on #43
Thank you and nice catch.  I will grab the new version and continue.  Much appreciated!!!

[2018-03-13 11:39] carlescs commented on #41
The thing is that  using the GUI tool to sign them and adding them as reference works. It does not work using the nuget package. Just my two cents...

[2018-04-30 03:49] ffMathy commented on #41
I really need this as well.

Currently just trying to sign a .NET Framework project that references a .NET Standard 1.6 class library, which I think is a very valid use case scenario.

It could seem as if this could be resolved by just updating `Mono.Cecil` @brutaldev?

[2018-04-30 06:08] brutaldev commented on #41
@ffMathy There is a branch for the latest version of `[mono-cecil](https://deventerprise.uservoice.com/forums/198724-general/suggestions/3914087-linux-support-using-mono)`, however, they have internal file locking issues which make the unit tests fail as well as large signing batches not being able to complete.

[2018-05-08 05:51] MichelZ commented on #33
Was there any progress on this?
Thanks

[2018-05-16 09:52] Sam13 opened #44 "Debug directory removed from PE header"
By comparing the PE header of an existing unsigned assembly and the same assembly signed with StrongNameSigner, I found out that the "Debug directory" is stripped out from the PE header.

Without information in the header that it's e.g. impossible to generate a PDB with JetBrains dotPeek (https://youtrack.jetbrains.com/issue/DOTP-6889)

I'm using version 2.1.4

[2018-06-01 15:11] paul-kiar commented on #41
I'm getting this error on .Net Framework assemblies, it signs successfully but then outputs errors

`Operation is not valid due to the current state of the object.
    at Mono.Cecil.ModuleDefinition.ProcessDebugHeader()
    at Mono.Cecil.ModuleDefinition.ReadSymbols(ISymbolReader reader)
    at Mono.Cecil.ModuleReader.ReadSymbols(ModuleDefinition module, ReaderParameters parameters)
    at Mono.Ce

[2018-06-01 16:06] brutaldev commented on #41
@paul-kiar Update the the latest version.

[2018-06-01 17:09] paul-kiar commented on #41
@brutaldev I'm using 2.1.4, the latest package on nuget, including the prereleases.

[2018-06-01 17:09] paul-kiar commented on #41
The libraries I attempting to sign are 4.5.2 and 4.6.1

[2018-06-01 17:10] paul-kiar commented on #41
Specifically IdentityModel.OidcClient version 2.6.0 from nuget.

[2018-06-01 17:32] paul-kiar commented on #41
Turns out it's the project settings that were changed causing the error, I removed the project changes from my project and the errors stop.  I then used console app and a pre-build event to sign the libraries.  My project is being built in VS 2017 15.7.2 and the project target dotnet framework is 4.7.1.

[2018-06-01 17:59] paul-kiar commented on #41
This is the code I removed from the project:
`  <Import Project="..\..\..\packages\Brutal.Dev.StrongNameSigner.2.1.4\build\Brutal.Dev.StrongNameSigner.targets" Condition="Exists('..\..\..\packages\Brutal.Dev.StrongNameSigner.2.1.4\build\Brutal.Dev.StrongNameSigner.targets')" />
  <Target Name="EnsureNuGetPackageBuildImports" BeforeTargets="PrepareForBuild">
    <PropertyGroup>
      <ErrorText>Thi

[2018-06-25 15:35] RealDotNetDave opened #45 "Creating Post Build Scripts"
It would be nice if the Strong-Name Signer app could create the post build scripts needed in Visual Studio for creating NuGet package.

David McCarter

[2018-06-25 15:51] RealDotNetDave opened #46 "Does This Work With .NET Core"
I'm trying to use this with .NET Core and am getting the following errors:

2>C:\Users\dotnetdave\.nuget\packages\brutal.dev.strongnamesigner\2.1.4\build\Brutal.Dev.StrongNameSigner.targets(6,5): error : Operation is not valid due to the current state of the object.
2>C:\Users\dotnetdave\.nuget\packages\brutal.dev.strongnamesigner\2.1.4\build\Brutal.Dev.StrongNameSigner.targets(6,5): error :    at

[2018-06-25 15:52] brutaldev commented on #46
Duplicate of https://github.com/brutaldev/StrongNameSigner/issues/41

[2018-06-25 15:52] #46 closed

[2018-08-10 12:13] alphaleonis opened #47 "Error when signing assembly; Operation is not valid due to the current state of the object"
Running `StrongNameSigner.Console.exe -a net452\IdentityModel.dll` gives the following error:
`Error: Operation is not valid due to the current state of the object.`.

The IdentityModel.dll is from the IdentityModel nuget package version 3.9.0, and StrongNameSigner is downloaded from NuGet version 2.1.4.

[2018-08-15 09:13] Comprion-OJapes commented on #47
Hi!

I ran into the same problem last year and together with @brutaldev we found that the existence of a pdb file causes this problem. Right now I'm again facing that problem, using the NuGet-Package of ZXing.Net (https://www.nuget.org/packages/ZXing.Net/) with version 0.15.0

As a workaround: delete all .pdb-files in the packages-subfolder.

I hope that this will give a clue on what causes the pr

[2018-08-28 12:14] alphaleonis commented on #47
That's a good tip... unfortunately I can't seem to be able to sign the **IdentityModel** NuGet package even if I remove the .pdb-file. :(

[2018-08-28 12:16] alphaleonis commented on #47
I still get the following exception trace:

[code]

[2018-08-28 12:37] alphaleonis commented on #47
Sorry, my bad. It actually does seem to work from the console app at least when removing the .pdb file as suggested.

[2018-08-28 12:45] alphaleonis commented on #47
Actually it seems this problem was "fixed" in the master branch already, but never released. See commit 237726afe2ee6427f2999674021d480bfea48e5f

[2018-08-28 15:03] brutaldev commented on #47
@alphaleonis The last release was 7 months ago (v2.1.4) which contains that fix (tagged for 2.1.4 as well) which was made almost a year ago now. The automatic build task is in the same assembly as the signing helper where the change was made so it's definitely included.

[2018-08-28 15:13] alphaleonis commented on #47
Yeah, sorry about that. I mixed everything up here with different versions of things, building them and trying to fix the problem. It was all very confusing, and still is a bit.

It seems that I got the error if the `Mono.Cecil.Mdb.dll` and `Mono.Cecil.Pdb.dll` files were present in the same directory as the .exe, otherwise I didn't.

After updating to the latest version of Cecil though, it seems

[2018-08-28 17:35] alphaleonis commented on #47
I did some quick tests, and I can't see any file locking if I dispose the `AssemblyDefinition` returned by `AssemblyDefinition.ReadAssembly`.  They must be disposed before writing to the file that was read. This means you probably have to write a temporary file first, then dispose the `AssemblyDefinition` and then move the temporary file to the actual file if in-place-signing is desired.

I tried

[2018-08-28 19:19] brutaldev commented on #47
Sure, a PR would be great for this. Do it on the mono.cecil-0.10 branch but just upgrade to whatever the latest is in NuGet. I'll give it a quick run now myself to see if I can get the tests to pass using your suggestions.

[2018-08-28 20:37] alphaleonis commented on #47
Nice. Thanks. I just noted though that you don't delete the temp-files afterwards which we should probably do to be nice to the user.   Also all the calls to  `File.SetAttributes`, aren't they supposed to operate on the actual target file rather than the temporary file so that the actual target file can be overwritten by the copy? (The temp file we just created so it seems unlikely that would be r

[2018-08-28 20:44] brutaldev commented on #47
Setting the file attributes is to force the read-only flag off, could get away without doing it on the temp file but it's done to ensure the file it replaces will always have the read-only flag off. There was a long issue about how this also caused issues that appeared as file locks but I'm not prepared to go down that rabbit whole again or introduce any other issues by removing it right now.

I c

[2018-08-29 08:01] alphaleonis commented on #47
I understand completely. Thanks for the quick fix attempt, unfortunately this caused a couple of other problems when .pdb files were present it seems (`Error: Symbols were found but are not matching the assembly`).  I will investigate and submit a PR once I'm done, and try to get some new tests that cover this scenario as well.

[2018-08-29 08:03] brutaldev commented on #47
@alphaleonis That would be awesome, I never had the chance to really test everything with the new libs. I added the temp file deletes to `master` last night as well. Any other fixes you want to make will be much appreciated.

[2018-09-10 06:42] chessar opened #49 "Not work for Auth0.Core 5.10.0 package"
Could not load file or assembly 'Auth0.Core, Version=5.10.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044).

For more info see [https://github.com/auth0/auth0.net/issues/207](https://github.com/auth0/auth0.net/issues/207)

[2018-09-17 13:15] paulomorgado opened #50 "Any reason for clearing source linking information?"
I'm trying to add source linking to a lib but the StrongNameSigner seems to be erasing the source linking information.

[2018-09-17 19:09] paulomorgado commented on #50
Looks like it was a [problem](https://github.com/jbevain/cecil/issues/412), but has been [solved](https://github.com/jbevain/cecil/pull/432).

[2018-09-25 14:42] radevop opened #51 "StrongNameSignerTarget executes too long"
Hello,

I want to use your tool to automatically sign two dll's from external nuget packages that I used in my solution. Problem is that your task checks all dll inside nuget download folder (in my case it is C:\Users\USERNAME\.nuget\packages which contain 26 folders/packages) so execution time of single build takes too much time, more than 8 minutes. Is it an option to give the mask of dll's/pack

[2018-09-25 15:56] brutaldev commented on #51
If you need to filter just the assemblies you want to sign, you can provide patterns with the `-in` parameter when using it as part of the build process. Using the build target at the moment does not allow for patterns (you're welcome to add that functionality if you want) so you can use the command-line app to run BeforeBuild. The documentation highlights how to do this already, a pattern example

[2018-09-25 18:33] #51 closed

[2018-12-07 09:03] Galad commented on #33
Hello @brutaldev
Were you able to make any progress on this issue ?

Thanks

[2018-12-07 09:49] brutaldev commented on #33
@Galad Nope, I simply haven't had the time to look into this, was hoping someone would be able to make a pull request for it.

[2019-05-17 12:27] wolfkor opened #52 "dotnet build fails"
I tried to use it with a dotnet build (2.1).
I get ...Brutal.Dev.StrongNameSigner.targets (6.5): error MSB4062: The Brutal.Dev.StrongNameSigner.AutomaticBuildTask Task could not be loaded from the ...\ .nuget \ packages \ brutal.dev.strongnamesigner \ 2.3.0 \ build \ Brutal.Dev.StrongNameSigner.dll assembly. Could not load file or assembly 'Microsoft.Build.Utilities.v4.0, Version = 4.0.0.0, Cultur

[2019-05-17 18:53] brutaldev commented on #52
Do you have a sample project to replicate this failure? I suspect it's because the build task does not support and has not been tested outside of Visual Studio so using the new Core command line tools probably doesn't provide the probing paths as VS does.

[2019-09-25 16:29] brutaldev commented on #50
This may have been fixed up now after adding the latest version of Mono.Cecil in [v2.4](https://github.com/brutaldev/StrongNameSigner/releases/tag/2.4.0)

[2019-09-25 16:29] #50 closed

[2019-09-25 20:08] brutaldev commented on #27
Tested the attached solution with the latest version ([2.4.0](https://github.com/brutaldev/StrongNameSigner/releases/tag/2.4.0)) and it works perfectly.

[2019-09-25 20:08] #27 closed

[2019-09-25 20:36] brutaldev commented on #33
Version [2.4.0](https://github.com/brutaldev/StrongNameSigner/releases/tag/2.4.0)  seems to work pretty well as a project reference now, path remains as "build" which will automatically identify the target file and use it as a build tool.

[2019-09-25 20:36] #33 closed

[2019-09-25 21:26] brutaldev commented on #49
Besides the fact they have a signed version coming up. I write a quick test app using the three assemblies you mentioned and made a call to `GetTokenAsync` after signing and it works well.
If you cannot provide a sample application that fails the way you describe, there is not much I can do to help. I used NuGet package version [2.4.0](https://github.com/brutaldev/StrongNameSigner/releases/tag/2.4

[2019-09-25 21:26] #49 closed

[2019-10-30 16:27] bkonia opened #53 "SNS Claims Unsigned Assembly is Signed"
I used the [Nirsoft Strong Name Remover](https://www.nirsoft.net/dot_net_tools/strong_name_remove.html) utility to remove a signature from a signed assembly. After running the remove operation, I confirmed it was removed using snremove -d. However, when I load that assembly into SNS, it still shows that it's signed and refuses to sign it again.

Can you explain why this is happening? Also, it woul

[2019-10-30 19:38] brutaldev commented on #53
I have some upgrades planned for SNS (probably over the holidays) so I'll take the removal option into consideration. Not sure why it still thinks it's signed, the remover must still be leaving a marker behind, only an assembly diff would explain if it actually removing it correctly.

Do you have an assembly example you used to reproduce this problem, or do you believe it happens to all assemblies

[2019-10-30 20:04] bkonia commented on #53
It seems to happen with all assemblies. I just tested it with the SNS assembly (Brutal.Dev.StrongNameSigner.dll) and it did the same thing.

[2019-11-08 11:23] davidkdb opened #54 "Unknown blob format"
I get this message when trying to sign an assembly:

Strong-name signing ...nuget\packages\shopifysharp\4.21.7\lib\net45\ShopifySharp.dll...
Error strong-name signing ...nuget\packages\shopifysharp\4.21.7\lib\net45\ShopifySharp.dll: Unknown blob format.

[2019-11-08 11:24] davidkdb opened #55 "Integrated in Visual Studio"
Hi.

Is this tool integrated into Visual Studio ? In that case where ?

[2019-11-08 11:27] brutaldev commented on #54
Just tested successfully using version 2.4, are you using the latest version?

[2019-11-08 11:29] brutaldev commented on #55
If you add the NuGet package to your project you can add it to your build process (also when Visual Studio builds). Read the docs: https://github.com/brutaldev/StrongNameSigner#build-process

[2019-11-08 11:29] #55 closed

[2019-11-15 10:15] davidkdb commented on #54
Yes, you're right. It worked when I did not use my own certificate.

[2019-11-15 10:15] #54 closed

[2019-11-20 10:48] gep13 commented on #53
@bkonia did you happen to find a solution/workaround for this?  I have the same requirement, and I have found the exact same thing happens when I attempt what you try above.

[2019-11-20 13:31] jzabroski commented on #53
It's possible the Fake Sign bit is being set.  https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/publicsign-compiler-option

[2019-11-20 15:42] gep13 commented on #53
@jzabroski how would I verify if that is the case or not?

[2019-11-20 15:53] jzabroski commented on #53
Just a guess - haven't tried it -
https://github.com/jbevain/cecil/blob/b2d248c1caacf411f4b0433a807e7497a6f8e1a0/Mono.Cecil.PE/ImageReader.cs#L288

On Wed, Nov 20, 2019 at 10:42 AM Gary Ewan Park <notifications@github.com>
wrote:

[2019-11-20 16:21] bkonia commented on #53
No, I'm just waiting for the upgrade from @brutaldev

[2019-11-21 05:59] brutaldev commented on #53
I'll look at this today and see if I can get it fixed up. Thanks for all the info, will be useful to track down why this happens.

[2019-11-21 06:32] gep13 commented on #53
@brutaldev let me know if you need a volunteer to test anything out. Happy to help where I can.

[2019-11-22 11:10] fpavlic opened #56 "Disable signing packages"
Hi,

I'm using Brutal.Dev.StrongNameSigner Nuget package, had used "Before Build" process to sign un-signed packages. Those packages will not be updated that frequently so I would like to disable signing & checking.

Is there option to do that?

[2019-11-22 14:50] brutaldev commented on #53
Sorry guys, I'll take a look at this soon,yesterday and today was consumed with project work :(

[2019-11-22 15:21] gep13 commented on #53
@brutaldev totally understand, I know how things can go sometimes.  I genuinely wouldn't have any idea on where to start with looking into this, so not in a position to help out from a code point of view, but please let me know if there is anything I can do to help within testing/verification, etc.

[2019-11-25 08:32] brutaldev commented on #56
Currently no option for that, suppose this could be an environment variable that you set otherwise you will need to change your project settings all the time. Will think about it and put something in the next release.

[2019-11-25 09:16] fpavlic commented on #56
@brutaldev either environment variable or setting in e.g. global.asax on application start. Could be helpful because I noticed increase in build time, even if those packages are already signed.

[2019-11-25 10:13] brutaldev commented on #56
Added check for environment variable `SNS_DISABLE_CONSOLE_SIGNING` in version [2.6.0](https://github.com/brutaldev/StrongNameSigner/releases/tag/2.6.0). Use the value `true` to skip signing (a warning will also appear in your log).

[2019-11-25 10:13] #56 closed

[2019-11-25 10:13] brutaldev commented on #53
Fixed up in version [2.6.0](https://github.com/brutaldev/StrongNameSigner/releases/tag/2.6.0). The remover only sets the bit to highlight that the assembly is not signed (but keeps the public key - thanks @jzabroski). Delay-signed assemblies will be seen as NOT being signed, the UI will indicate the signing type as well and there is a new property to determine this if you use the API.

Will add fu

[2019-11-25 10:13] #53 closed

[2019-11-25 10:43] brutaldev commented on #45
Reading this again and I'm actually lost as to what is being asked here?
Going to wait a couple days for a better explanation of this request and close it if there is no response.

[2019-11-25 11:53] gep13 commented on #53
@brutaldev thank you so much for doing this!  I have just taken this for an initial spin, and it seems to work!  Going to give this a larger test in the actual place that I need to make use of it to see if everything there works, but seems like it is going to!  Thanks again!

[2019-11-25 18:35] RealDotNetDave commented on #45
That was so long ago, I don't remember. Go ahead and close.

[2019-11-25 18:38] brutaldev commented on #45
No problem, tried to think of a use case for this but also stumped. Closing because there is not enough information.

[2019-11-25 18:38] #45 closed

[2019-12-11 11:39] programatix opened #57 "Long pause on build"
I'm using VS 2019 16.4.1 with StrongNameSigner 2.6.0. Whenever I build the project which is installed with StrongNameSigner nuget, it will pause at the following phase,

```1>------ Build started: Project: <project name>, Configuration: Debug Any CPU ------```

When this happens, MSBuild.exe CPU usage would be quite high. It can take from 1 minutes to 5 minutes. Then it would continue with the fol

[2019-12-11 12:05] brutaldev commented on #57
How many references and sub-dependencies do these several solutions have? How slow is the disk that these files reside on...?

[2019-12-11 12:12] programatix commented on #57
There's quite a number of sub-dependencies. I think more than 10. The disk is a SSD with around 400 MB/s read and write. The the pause occurred, the disk usage is at 2%-3% (Task Manager). MSBuild.exe is using around 0.1MB/s

[2019-12-11 12:21] brutaldev commented on #57
Not even sure where to start looking. This is tested on a solution with over 1000 package references totaling 1.3GB in assemblies, still finishes in 5-6 seconds. Maybe you have an anti-virus installed that is blocking the scanner since it will open and read the files to determine the strong-name.

[2019-12-11 13:02] programatix commented on #57
I'm using TortoiseSVN and Symantec Endpoint Protection 14. I tried disabling them and excluding the solution path. Problem remains. Weird.

[2019-12-11 14:10] programatix commented on #57
I attached a test solution. It's actually an empty netstandard2.0 project with the following nuget packages
- Brutal.Dev.StrongNameSigner
- CSJ2K
- SixLabors.ImageSharp
- SixLabors.ImageSharp.Drawing

On my PC, it takes more than 1 minute to build, pausing at
```1>------ Build started: Project: test2, Configuration: Debug Any CPU ------```

It will also pause for a long time if I try to add more n

[2019-12-11 15:38] programatix commented on #57
Sorry if the frequent posts are annoying. I've came back from work and tested on my own PC which is of higher spec than my work PC. The disk is SanDisk Extreme II. The Visual Studio 2019 version is 16.3.10 (older than my work PC).

The long pause is during build is there. Similarly, non-responding (long pause) issue is also when
- Installing/removing nuget packages
- Closing the solution (if there

[2019-12-11 17:01] jzabroski commented on #57
@programatix can you try sending @brutaldev the binary MSBuild log file?
http://msbuildlog.com/#advantages

On Wed, Dec 11, 2019 at 10:38 AM programatix <notifications@github.com>
wrote:

[2019-12-11 17:20] programatix commented on #57
Attached zip file with a new solution with several projects in it. On my home machine, it paused for around 1.5 minutes while building `WpfApp1`. After building the solution, close Visual Studio 2019 and re-open the solution, you may experience a long pause when Visual Studio 2019 tries to open the solution.

Also in the zip file, the MSBuild binary log.

[test2 v2.zip](https://github.com/brutalde

[2019-12-11 17:27] jzabroski commented on #57
@programatix One thought - did you try deleting all your bin and obj files and rebuilding?

I've run into weird issues with the new dotnet tool chain due to the MSBuild targets written by Microsoft referencing the obj directory to discover the "state" of things.

I imagine since you said "new solution", this is already true and you've done it - but just thinking.

[2019-12-11 17:34] programatix commented on #57
Yes, I deleted all bin and obj folders for the solution to test a rebuild. The long pause is there. Using the "rebuild" command in VS2019 is also the same.

Deleting the obj folders will cause `msbuild test2.sln /bl` to fail because somehow the nuget packages info is inside obj. So, I have to go into VS2019 and restore the nuget packages. Then re-execute the `msbuild` command.

[2019-12-11 17:47] jzabroski commented on #57
So, your build is really weird.  WpfApp1.csproj should not build IMHO but
it does - where are you referencing MahApps?  My mind is blown.

[image: image.png]

On Wed, Dec 11, 2019 at 12:34 PM programatix <notifications@github.com>
wrote:

[2019-12-11 18:30] programatix commented on #57
The V2.zip is just to simulate my actual solution but it still my actual solution is slower.

For simplicity sake, just use the first zip in the thread. It only has 1 netstandard2.0 project. It takes around 1 minute to start building.

[2019-12-11 18:55] jzabroski commented on #57
The problem seems to be that your WpfApp1 is using PackageReference despite being an old school project type.  Can you try using packages.config in that project instead?  It's clear Visual Studio is mind boggled by this, as the references dont show up in Solution Explorer as they would if this was a .NET SDK csproj

[2019-12-11 19:07] brutaldev commented on #57
@jzabroski It's definitely because of package references. When using this the target signing directory is your package cache folder (_C:\Users\user_name\.nuget\packages_). My directory has 715 packages with tens of thousands of files in it that would need to be recursively checked. Looking into a way to workaround this but that's going to get tricky finding the packages a project uses and it's und

[2019-12-11 19:24] jzabroski commented on #57
Interesting.  So it's not because he is using new-style PackageReference with old-style csproj format?

[2019-12-11 20:08] brutaldev commented on #57
I've implemented a really rudimentary fix to just ignore any framework files which will always be signed. Now it takes it down from about 2 mins to 11 seconds. Gonna tidy it up and then I'll release a new version.

Thanks @jzabroski, might need a bit of a  refresh, made it years ago.

[2019-12-11 20:37] brutaldev commented on #57
Fixed up, got it down to 2 seconds so not going to push it any more than that.
Release: https://github.com/brutaldev/StrongNameSigner/releases/tag/2.7.0
NuGet: https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/2.7.0
Download: https://github.com/brutaldev/StrongNameSigner/releases/download/2.7.0/StrongNameSigner_Setup.exe

[2019-12-11 20:37] #57 closed

[2019-12-12 02:08] programatix commented on #57
I tested version 2.7.0 and found that the issue is still there. Attached in this post is the msbuild binary log.
[msbuild snsv2.7.0.zip](https://github.com/brutaldev/StrongNameSigner/files/3953453/msbuild.snsv2.7.0.zip)

From it, I see a long list of check statements,
```Fixing references to 'C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.8\Facades\....```

![imag

[2019-12-12 07:02] brutaldev commented on #57
Added additional paths to ignore, there was actually a bug using the AND which @programatix  highlighted in the pull request, all paths should be OR to be ignored.

Release: https://github.com/brutaldev/StrongNameSigner/releases/tag/2.7.1
NuGet: https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/2.7.1
Download: https://github.com/brutaldev/StrongNameSigner/releases/download/2.7.1/StrongNam

[2020-01-27 18:10] eyaldar commented on #52
Any solution to this problem? I've been having the same problem.

[2020-01-28 09:06] brutaldev commented on #52
@eyaldar Got a sample project with the commands you are using? Cannot debug and fix this if I cannot reproduce.

[2020-03-15 10:18] StefH opened #59 "Thank you !"
With this package I'm able to resolve some blocking issues.
(https://github.com/WireMock-Net/WireMock.Net/wiki/Could-not-load-file-or-assembly-RestEase)

[2020-04-07 07:44] achimismaili opened #60 "Cannot strong-name Hangfire.Core & Hangfire.SqlServer"
I am trying to sign Hangfire.Core, but the tool says, that it is already strong named.
Nevertheless, there is still no  PublicKeyToken available. See console output:

[code]
But after this signing, the public key is still null --> PublicKeyToken=**null**
From my understanding, "strong naming" means, that there must be a key available.

I was also not able to sign the dll in the nuget package 'Hang

[2020-04-07 09:24] achimismaili commented on #60
Sorry, maybe I do not understand the strong-name-signer solution enough.
I guess it does much more than what I expected ...

When I am running builds, Visual studio had automatically built the dlls in the bin folder with strong names, so there is no need to manually implement any pre build commands in visual studio manually?!

So, the nuget package also automatically adds this functionality, that

[2020-04-07 13:30] brutaldev commented on #60
If an assembly is already signed then any referenced assemblies it has will not be attempted (it's cached as well). You need remove any signed assemblies (just do a VS clean) which will pick up the additional packages that are referenced such as `Hangfire.SqlServer`. With the latest version you do not need to do anything, just add the package and it will use the reference list to do the signing. I

[2020-04-07 13:30] #60 closed

[2020-04-08 15:34] achimismaili commented on #60
Thank you!
Awesome solution! 💃

[2021-03-27 02:02] robertmclaws opened #61 "SNS is modifying assemblies in the NuGet package cache"
I'm trying to compile the [RESTier project](https://github.com/odata/restier) using this library, and since the project binaries are signed, and their internals are exposed to the unit test projects, I also need to strong name the unit tests. One of the libraries it uses (Simple.OData.Client) is not signed, so we're using this NuGet package to sign it.

That client references NuGet package depende

[2021-03-29 08:26] brutaldev commented on #61
Re-signing would be a necessary process since any changes to the assemblies. When this was developed it would simply scan and fix you local "packages" directory so would not impact any other projects since everyone has their own copies.

Due to how packages are shared in a central location these days there would need to be some work done as to how this is managed, resigning the whole packages dire

[2021-03-29 17:21] robertmclaws commented on #61
Thanks for the details! Some feedback:

- I tried that process for modifying the build manually, it doesn't work anymore. It's automatically overridden by the .targets file in the package, and there is no MSBuild variable in the .targets file that will allow you to skip using the target. Plus, those instructions are not enough to make the process work from the NuGet Package cache.
- If an assembly

[2021-03-31 11:23] brutaldev commented on #61
Remove the nuget package and install the console version to use the custom build targets.

I'm not in a position to update this project so you are welcome to fork it and make the changes necessary for modern projects that use the cache. I only use this myself for older projects where signing was important. These days nothing is strong-name signed anymore as it's seen as an anti-pattern and breaks

[2021-05-10 00:15] smklancher opened #62 "NullReferenceException when using TunnelVisionLabs.ReferenceAssemblyAnnotator"
Building the attached project produces NullReferenceException: Object reference not set to an instance of an object.
   at Brutal.Dev.StrongNameSigner.AutomaticBuildTask.Execute()

Apparently it tries to sign the annotated assemblies referenced by TunnelVisionLabs.ReferenceAssemblyAnnotator, but isn't successful, which leads to SignSingleAssembly returning null.  Calling code does note expect or h

[2021-05-10 08:38] #62 closed

[2021-08-13 14:13] rcdailey commented on #61
This just isn't true. For example the yFiles library license requires all libraries using their interfaces to be strong named. Does that suck? Sure does. Is it avoidable? Nope. Open source projects have a lot more freedom on this than established enterprise software projects.

The direction I took was to just copy & paste the console EXE into my repository and set up my own custom targets to invok

[2021-10-14 11:27] mklemarczyk opened #65 "Satellite assemblies located with other files"
Hello, I got an issue when using console for signing files.
The output directory was in flat structure. I needed to recreate the file structure of the original release.
The satellite assemblies usually have specific structure for example for resource assemblies.

I created Pull Request #64 to address this issue, it introduces new option that allows preserve file structure in output directory.

Mor

[2021-10-14 19:14] brutaldev commented on #65
PR accepted.

[2021-10-14 19:14] #65 closed

[2021-10-14 19:23] brutaldev commented on #59
Awesome, glad to hear that it's been helpful.

[2021-10-14 19:23] #59 closed

[2021-11-02 09:55] brutaldev commented on #44
@Sam13 I've tested this myself and the directory is not stripped at all. Do you have an assembly with corresponding PDB that this happens with? I used tools like [PE Editor](https://github.com/petoolse/petools) to verify the header.

[2021-11-02 09:55] #44 closed

[2021-11-02 10:46] brutaldev commented on #38
Fixed to check the retargeting flag and ignore fixing those assembly's references.

[2021-11-02 10:46] #38 closed

[2021-11-14 16:50] Sam13 commented on #44
@brutaldev I'm afraid, I cannot provide any test data. Since you tested again I would consider this fixed...

[2021-11-16 11:14] samarunraj opened #66 "In 2.9.0 release, usage of parameter -a to sign a single assembly is broken"
https://github.com/brutaldev/StrongNameSigner/blob/330a4ce1596333a3c2f0f824e0e58728651f8a53/src/Brutal.Dev.StrongNameSigner.Console/Program.cs#L152

The above line assumes InputDirectory is valid when "-a" option is used. `StrongNameSigner.Console -a MyUnsignedAssembly.dll -k PersonalKey.snk`

[2021-11-16 21:51] brutaldev commented on #66
Thanks, fixed in 2.9.1: https://github.com/brutaldev/StrongNameSigner/releases/tag/v2.9.1

[2021-11-16 21:51] #66 closed

[2021-12-04 23:11] mistial-dev commented on #52
I'm getting the same error trying to build.

[gl.zip](https://github.com/brutaldev/StrongNameSigner/files/7654886/gl.zip)

My build environment is a bit unusual, I suspect.  Dotnet 6, using Rider, on an ARM Macbook Pro.

[code]

[2021-12-04 23:32] mistial-dev commented on #52
The assembly seems to be Microsoft.Build.Utilities.Core instead of a specific version.

[code]

[2021-12-05 20:19] brutaldev commented on #52
@mistial-dev There is currently a hard dependency on `Microsoft.Build.Utilities.v4.0` because of the inheritance required for the automated build task and this is still being built for the full .NET Framework and not .NET Core.

![image](https://user-images.githubusercontent.com/1929531/144762395-c79dca9a-6bf4-4878-95f1-200c4be42a23.png)

I'll need to convert this project to .NET Core (was plannin

[2021-12-06 17:50] mistial-dev commented on #52
Appreciated.

We are doing cross platform development for an open source initiative, so we are trying to support as many platforms as possible.

If there is anything on my side I can do to help test, please let me know.

[2021-12-08 09:00] brutaldev commented on #52
@mistial-dev Thanks. Almost done with the specific changes that fix this issue. I'll deploy a beta NuGet package you can bring into your project while I make the other fixes I want to for the [official 3.0 release](https://github.com/brutaldev/StrongNameSigner/milestone/10).

[2021-12-08 16:27] brutaldev commented on #52
@mistial-dev
Please use the beta package with your project: https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/3.0.5-beta
Tried and tested with your sample project on a Mac, this was a lot tricker to get working cross-platform that I thought...

`<PackageReference Include="Brutal.Dev.StrongNameSigner" Version="3.0.5-beta" />`

[2021-12-08 16:27] #52 closed

[2021-12-09 00:14] mistial-dev commented on #52
Thank you.

I just did a big project restructuring, so I'll need to re-add the references and set up a test.  I'll let you know how it goes.

[2021-12-09 18:50] mistial-dev commented on #52
Looks good.  Thank you so much!

[code]

[2021-12-30 21:39] brutaldev commented on #31
This works now when using v3.0.56-beta: https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/3.0.6-beta

[2021-12-30 21:40] brutaldev commented on #61
Package cache directories are now correctly ignored in v3.0.6-beta: https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/3.0.6-beta

[2021-12-30 21:40] brutaldev commented on #42
This works now when using v3.0.6-beta: https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/3.0.6-beta

[2021-12-30 22:19] brutaldev commented on #61
Official release: https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/3.1.0

[2021-12-30 22:19] #61 closed

[2021-12-30 22:19] brutaldev commented on #42
Official release: https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/3.1.0

[2021-12-30 22:20] #42 closed

[2021-12-30 22:20] brutaldev commented on #31
Official release: https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/3.1.0

[2021-12-30 22:20] #31 closed

[2022-01-11 17:33] wonea opened #68 "Select keyfile makes window very small"
Select a keyfile, and the program window shrinks on 4k.
![image](https://user-images.githubusercontent.com/557192/148992634-3a44694e-b76d-4aa3-99c7-69ed41036cb8.png)

[2022-01-11 18:49] brutaldev commented on #68
So this is the problem: https://stackoverflow.com/questions/42975285/commonopenfiledialog-cause-windows-form-to-shrink

Will add the DPI support and release a new version.

[2022-01-11 19:20] brutaldev commented on #68
Fixed up in [v3.1.1](https://github.com/brutaldev/StrongNameSigner/releases/tag/v3.1.1)

[2022-01-11 19:20] #68 closed

[2022-01-12 08:55] wonea commented on #68
Fantastic that's brilliant. Any chance of a dark theme?

[2022-01-12 13:51] brutaldev commented on #68
@wonea Hehe, now you're pushing your luck :)
It's using good old Windows Forms so it's now that easy to style things differently. I'm also not much of a designer so I probably won't get it right...

[2022-04-19 05:26] songjiefa opened #69 "It seems not working in sdk-style project with third-part packages"
I created a wpf project with sdk-style .net 4.8, then, I reference un strong name package and  strong name signer, when I build it, it shows "no assembly paths were  provided" and it works fine in ms-build project

[2022-04-19 09:21] brutaldev commented on #69
@songjiefa please provide a sample project so we can reproduce the problem.

[2022-04-19 14:12] songjiefa commented on #69
Here is my sample coede: https://github.com/songjiefa/TestStrongNameSinger

[2022-04-22 07:53] brutaldev commented on #69
@songjiefa Apologies for the delay, I'm battling with COVID at the moment so my head hasn't been in code for a while...
The link you provided gets to a 404 page, any other way  you can get me a sample project to reproduce the problem with?

[2022-04-25 13:11] brutaldev commented on #69
@songjiefa The automatic build task uses the reference list to determine which dependencies to sign. Your SDK project has package references but no project references so it does not find anything to sign. To overcome this you need to add a build target yourself: https://github.com/brutaldev/StrongNameSigner/blob/master/README.md#dealing-with-dependencies

In `SdkStyle-Failed.csproj` add the follow

[2022-04-25 13:11] #69 closed

[2022-08-06 16:03] brinkdinges opened #71 "How to consume a NuGet package with signed external references?"
I'm trying to create a NuGet package for internal use. I'm using StrongNameSigner to sign the only external reference that I don't own that doesn't have a strong name. I publish it to an internal NuGet repo. So far so good.

But now I want to consume this package. The package doesn't contain the external reference, so it gets the DLL from the local NuGet cache. That file was signed while making th

[2022-08-07 08:09] brinkdinges commented on #71
I've learned how to create a binlog to see all the steps while compiling a solution. As it turns out, my own DLL does reference the signed external reference. But the NuGet package just ignores the signing and references the unsigned external reference. So when I consume my own NuGet package, there is a conflict between the signed and unsigned version and the unsigned version wins.

At runtime, it

[2022-08-24 06:56] brutaldev commented on #71
@brinkdinges That's not going to be easy to work around. The NuGet package will reference other packages which will still be unsigned. You can try to find signed versions or re-deploy your own signed versions of external packages (once signed with StrongNameSigner). This happens quite often. Take Flurl for example:

Official (unsigned) package: https://www.nuget.org/packages/Flurl
Unofficial (sign

[2022-08-24 06:56] #71 closed

[2022-08-24 07:51] brinkdinges commented on #71
Thanks for the idea of creating an unofficial signed NuGet package. That sounds like a more streamlined version of my current solution. It might be helpful for others, though:

1. Reference a NuGet package
2. Build to download the DLL
3. Sign the DLL with your own key
4. Copy the DLL to somewhere permanent
5. Remove the NuGet package reference
6. Add an assembly reference to the DLL
7. Add the DLL

[2022-09-27 20:21] kuhnboy opened #72 "Writing mixed-mode assemblies is not supported"
Running into this error with mixed-mode assemblies with 3.1.0.

[code]

It is implied that this is fixed in 3.1.0 (https://github.com/brutaldev/StrongNameSigner/pull/67)

[2022-09-27 20:40] brutaldev commented on #72
@kuhnboy Mono.Cecil is clearly not happy about the assembly you are using.
You will need to provide me with the assembly you are trying to sign that causes that exception so I can reproduce and attempt to fix it.

[2022-09-27 23:30] kuhnboy commented on #72
Ok thanks. So the correct answer is:
- Skipping mixed mode assemblies was broken but should be fixed in 3.1.1.
- There is no support for mixed mode assembly signing due to Cecil not supporting it.

[2022-10-17 12:19] brutaldev commented on #72
Fixed and deployed to NuGet: https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/3.1.1

[2022-10-17 12:19] #72 closed

[2022-10-27 15:02] DoctorVanGogh opened #73 "Transitive dependencies from PackageReferences are not investigated/signed"
I've come across a tricky issue with StrongNameSigner.

If you have a nuget package referenced via `PackageReference` but that package is (mostly) a metapackage - meaning it has a lots of dependencies into *other* nuget packages - StrongNameSigner will only - if ever - sign the direct dependency.

If you have dependencies like
[code]
Only the direct assemblies from Foo will ever get looked at.

He

[2022-10-27 18:22] brutaldev commented on #73
This _should_ be supported and _should_ work because for each referenced assembly the entire dependency tree is traversed and all unsigned references will get signed and their references changed in the parent.

Thanks for the example code, will reproduce this and see if it can be fixed. I think your mention of "metepackage" might be the root cause because there is not direct reference to an assemb

[2022-11-02 16:19] MarcelVersteeg opened #74 "Use NuGet package, but no automatic signing of assemblies"
Via a third-party NuGet package I obtain an unsigned assembly I need for my application. I want to use the StrongNameSigner to only sign this single assembly, so I added the StrongNameSigner NuGet package to my application's project. This makes in unnecessary for other people in my team to install the StrongNameSigner separately when building the projects.

However, by adding the StrongNameSigner

[2022-11-02 18:33] brutaldev commented on #74
Second example in the docs: https://github.com/brutaldev/StrongNameSigner#build-process

Example of targeting one package folder.
[code]

You can remove the other targets that are created in your project file that perform a full signing operation.

[2022-11-02 18:33] #74 closed

[2022-11-03 12:43] MarcelVersteeg commented on #74
My project file looks like this (kept out unnecessary details):
[code]

The target is executed as expected and signs the Vetris.ResourceLib.dll. However, when I look at the build output, there is also another task being executed that seems to try to sign all DLLs in my entire tree. This is what I see in the output (verbosity level "Normal"):
[code]

This `StrongNameSignerTarget` is the target that

[2022-11-08 10:39] MarcelVersteeg opened #75 "Use NuGet package, but no automatic signing of assemblies"
I have created issue #74 before about this. That issue was closed, but even after your response it is still reproducible. I have duplicated my remark to that issue here.

My project file looks like this (kept out unnecessary details):
[code]

The target is executed as expected and signs the Vetris.ResourceLib.dll. However, when I look at the build output, there is also another task being executed

[2022-11-09 10:21] MarcelVersteeg commented on #75
I found the solution to this issue myself now. It is not an issue with the package. When adding the NuGet package to the project, exclude the `build` asset from the dependency, by either adding that to the dependency properties, or by editing the project file like this:

[code]

[2022-11-09 10:21] #75 closed

[2022-11-09 17:49] brutaldev commented on #75
@MarcelVersteeg Thanks for the info, I hope this can be helpful to other and I might just add it to the documentation as well.